.page {
    background: url("../images/news_top_main.jpg") repeat-x scroll center top transparent;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

body {
    background: url("../images/foot_bg.png") repeat-x scroll center bottom #D6E7EE;
    color: #333333;
    font-family: 微软雅黑,Tahoma,Arial,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#mainWrapper {
    margin: 0 auto;
    padding: 0;
    width: 960px;
    min-height: 768px;
}