
                            <table width="960" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td valign="top">
                                        <div class="side">
                                            <div class="box">
                                                <h2>
                                                    本缴电费系统的概况：</h2>
                                                <ul>
                                                    <li>秉着方便广大电力用户的宗旨，在这网络网银普及的时代，通过网上缴纳电费功能，您就可以充分享受到信息时代的SOHO生活方式，这样就足不出户轻松缴纳电费。</li>
                                                </ul>
                                            </div>
                                            <div class="box">
                                                <h2>
                                                    支持银行：</h2>
<li>本收费接口与国内著名第三方支付平台“支付宝”合作，目前支持国内大部分银行，如工商银行、农业银行、建设银行、邮政储蓄银行、交通银行、中国银行、招商银行、浦东发展银行、兴业银行、华夏银行、广东发展银行、深圳发展银行、中国民生银行、中信银行、中国光大银行、恒丰银行、浙商银行。</li>
                                                <ul>
                                                </ul>
                                            </div>
                                            <div class="box">
                                                <h2>
                                                    即将推出：</h2>
                                                <ul>    <li>充值卡系统，为了方便部分对网银操作不太熟悉的用户，可以去各大超市商店购买充值卡，再到本缴费系统输入充值卡号和密码，就可为自己的电表缴费。</li>
                                                
                                                </ul>
                                            </div>
                                            
                                        </div>
                                    </td>
                                    <td valign="top">
                                        <div class="side">
                                            <div class="box">
                                                <h2>
                                                    网上银行缴电费的优点：</h2>
                                                <ul> 
                                                    <li>用户可以足不出户就轻松缴纳电费</li>
                                                    <li>可轻松替不会上网的亲朋好友缴费</li>
<li>在电力营业大厅非工作时间也可缴费</li>
                                                   
                                                </ul>
                                            </div>
                                            <div class="box">
                                                <h2>
                                                    手机上网查询</h2>
                                                <ul>
                                                </ul>
                                                <p>
                                                   </p><li>手机上网已经普及，能实现随时随地了解自己的电表剩余电量和使用电量！</li><p></p>
                                            </div>
                                            <div class="box">
                                                <h2>
                                                    短信查询</h2>
                                                <ul class="list_down">
                                                    <li>短信编辑自己的表号，发送到电力服务的短信平台，就会自动回</li><li>复你的电表剩余电量和使用电量。</li>

                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody></table>